// BGCommander build settings

#include "common.xcconfig"

PRODUCT_NAME = BGCommander
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) PROJECT=BGCommander $(COMMON_GCC_PREPROCESSOR_DEFINITIONS)

OTHER_LDFLAGS = -undefined dynamic_lookup -headerpad_max_install_names

INFOPLIST_FILE = BGCommander/Info.plist
GCC_PREFIX_HEADER = BGCommander/BGCommander-Prefix.pch